/*グーグルフォント*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600&family=Noto+Sans+JP:wght@400;500;700&display=swap');
*{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
/*変数*/
:root{
    --main-color:#42bddbc0;
    --body-color: #f1f1f1;
    --container-color: #323331;
    --heading-color: #222321;
    --box-color: #0d0f26;
    --bg-color: #fff;
    --back: #5D5D5D;
    --hi:rgb(115, 233, 184);
    --gradient:linear-gradient(180deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
}

body{
    color: var(--bg-color);
    background: var(--body-color);
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
.container{
    max-width: auto;
    margin: auto;
    width: 100%;
    background: var(--heading-color);
}
header{
    /*position:fixedでヘッダーをスクロールしても上部に固定*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*z-indexで手前に表示する優先順位を設定(数字が大きい方が全面)*/
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    font-family: 'Noto Sans Display', sans-serif;
    font-size:1.2rem;
    font-weight: 600;
    padding-left: 20px;
    color: var(--bg-color)
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;   
    margin-left:auto;

 

}
.nav-link{
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}
.nav-link:hover{
    color: var(--main-color);
    background: var(--container-color);
    transition: 0.3s all linear;
}
/*メニューアイコン*/
.menu-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    row-gap: 5px;
    padding-right: 20px;
    padding-left: 30px;

    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}
.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 22px;
    transition: 0.3s;
}

.move .line3{
    transform: translate(0px,5px);
}
.move .line1{
    transform: translate(0px,-5px);
}

/*ホーム*/
.home{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    background-color: var(--body-color);
    
}
.home-text{
    color: var(--heading-color);
}
.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    display: "flex";
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin-top: 30px;
}
.home-img{
    margin: auto;
    padding-right: 8px;
    padding-top: 7px;
    width: 200px;
    height: 200px;
    border-radius: 30%;
    background: var(--gradient);
    overflow: hidden;
    margin-bottom: 2rem;
}

.home-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}.home-text h3{
    color: var(--hi);
    font-size: 1.5rem;
}
.home-text h2{
    font-size:3.5rem;
    line-height: 4.8rem;
}
.home-text .color{
    color: var(--main-color);
}
.home-text p{
    font-size: 0.938rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}


/*ソーシャル*/
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .uil{
    font-size: 1.5rem;
    padding: 10px;
    color: var(--box-color);
}
.twitter:hover{
    color: #1da1f2;
    transition: 0.3s all linear;
}
.insta:hover{
    color: rgb(198, 52, 255);
    transition: 0.3s all linear;
}    
.youtube:hover{
    color:#DA1725;
    transition: 0.3s all linear;
}